/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* Preloader full screen background */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preloader-logo {
    width: 150px;
    animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.4)50%, rgba(0,0,0,0.4)50%), url();
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 1000;
    transition: background-color 0.3s ease, padding 0.3s ease;
    background-color: #001025;
}

.navbar .navcontent{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    position: relative;
    z-index: 1000;
    background: transparent;
}

.navbar.scrolled {
    background-color: rgba(0, 16, 36, 0.904);
    padding: 10px 50px;
}

.icon img {
    height: 25px; 
    width: auto;
    margin-right: auto;
    background-color: none ;
}

.menubar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menubar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar ul li {
    margin: auto 1.5rem; 
}

.menubar ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menubar ul li a:hover {
    color: #ff8c00; 
}

.login {
    margin-left: auto;
}

.login .btn {
    background-color: white;
    font-weight: bolder;
    color: #002266; 
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login .btn:hover {
    background-color: #ff6600;
    color: white; 
}

.call-to-action{
    background-color: white;
    align-items: center;
    height: auto;
}

.call-to-action-container{
    margin: auto;
    max-width: 50%;
    margin-bottom: 5rem;
}

.call-to-action-container iframe{
    margin:auto;
    align-items: center;
    margin-top: 10rem;
    width:640px;
    height:1600; 
}

/* Footer */

.footer {
    background-color: #001025;
    padding: 20px 0;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo {
    max-width: 150px;
}

.footer-slogan {
    margin-top: 10px;
    font-size: 1rem;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-right h4 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.footer-right p {
    margin: 5px 0;
}

/* Social icons styling */
.footer-social-icons {
    display: flex;
    margin-top: 10px;
}

.footer-social-icons a {
    color: white;
    font-size: 1.5rem;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.footer-social-icons a:hover {
    color: #ff6600;
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    border-top: 0.1rem solid #585858;
    padding-top: 10px;
}

@media (max-width: 1200px) {
    .menubar ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menubar ul li {
        margin: auto 0.5rem; 
    }


    .menubar ul li a {
        text-decoration: none;
        font-size: 0.8rem;
        color: #fff;
        font-weight: bold;
        transition: color 0.3s ease;
    }
}

/* General Mobile-first approach */
@media (max-width: 768px) {

    
    .navbar .menubar ul {
        display: none;
    }

    .navbar .menubar.active ul {
        display: block;
        position: fixed;
        top: 100%;
        right: 0;
        background: rgba(0, 0, 102, 0.9);
        width: 200px;
        text-align: right;
    }

    .navbar ul li {
        margin-bottom: 10px;
    }



    /* Navbar adjustments for mobile */
    .navbar .navcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .menubar ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .menubar ul li {
        width: 100%;
        text-align: left;
        padding: 0.5rem 0;
    }

    
    .icon {
        flex-grow: 1;
    }



    /* Footer - centralize content */
    .footer-container {
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
    }

    .footer .footer-left{
        text-align: center;
        align-items: center;
        margin: 0 auto 2rem auto;
    }

    .footer .footer-right{
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 480px) {
   
    .login .btn {
        background-color: white;
        font-weight: bolder;
        color: #002266; 
        padding: 0.2rem 0.5rem;
    }
    
    .icon img {
        height: 15px; 
        width: auto;
        margin-right: auto;
        background-color: none ;
    }
    .navbar .menubar ul {
        display: none;
    }

    .navbar .menubar.active ul {
        display: block;
        position: fixed;
        top: 100%;
        right: 0;
        background: rgba(0, 0, 102, 0.9);
        width: auto;
        text-align: right;
    }

    .navbar ul li {
        margin-bottom: 10px;
    }



    /* Navbar adjustments for mobile */
    .navbar .navcontent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .menubar ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    .menubar ul li {
        width: 100%;
        text-align: left;
        padding: 0.2rem 0;
    }
    
    .icon {
        flex-grow: 1;
    }

    /* Footer - centralize content */
    .footer-container {
        flex-direction: row;
        text-align: center;
        margin: 0 auto;
    }

    .footer .footer-left{
        text-align: center;
        align-items: center;
        margin: 0 auto 1rem auto;
    }

    .footer .footer-right{
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
}